<ion-header>
  <ion-toolbar *ngIf="authService.isAuthenticated()">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="unAuth" *ngIf="!authService.isAuthenticated()">
<!--  <ion-grid>-->
<!--    <ion-row class="btn-block">-->
<!--      <ion-col col-6>-->
<!--        <ion-button color="primary" expand="block" (click)="openModal()">Login</ion-button>-->
<!--      </ion-col>-->
<!--      <ion-col col-6>-->
<!--        <ion-button color="secondary" expand="block" (click)="registerModal()">Registration</ion-button>-->
<!--      </ion-col>-->
<!--    </ion-row>-->

<!--  </ion-grid>-->
  <ion-content class="login" padding>

    <img class="logo" src="../../../assets/logos/logos_transparent.png">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-list>
        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input type="username" formControlName="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-list>


        <div padding>
          <ion-button size="large" type="submit" expand="block">Login</ion-button>
        </div>

    </form>
    <div padding>
      <ion-button fill="clear" expand="block" color="primary" (click)="passwordReset() ;">Forgot Password</ion-button>
    </div>
    <div padding>
      <ion-button fill="clear" expand="block" color="primary" (click)="registration();">REGISTER HERE</ion-button>
    </div>
  </ion-content>
</ion-content>

<ion-content *ngIf="authService.isAuthenticated()">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-label>Dashboard</ion-label>
        <ion-icon name="stats"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="herps">
        <ion-label>All Herps</ion-label>
        <ion-icon name="list"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="calendar">
        <ion-label>Calendar</ion-label>
        <ion-icon name="calendar"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
