<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row justify-content-center>
    <ion-col align-self-center >
      <div text-center>
        <h4>Register Form</h4>
      </div>
      <form [formGroup]="registrationForm" (ngSubmit)="register()" novalidate>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Username" class="form-control input-text-custom" id="username" formControlName="username"></ion-input>
          </ion-item>
            <ng-container *ngFor="let validation of errors.validation_messages.username">
              <ion-item class="help-block" no-lines color="danger" *ngIf="registrationForm.get('username').hasError(validation.type) && (registrationForm.get('username').dirty || registrationForm.get('username').touched)">
                <ion-label>{{ validation.message }}</ion-label>
              </ion-item>
            </ng-container>
          <ion-item>
            <ion-input type="text" placeholder="Email" class="form-control input-text-custom" id="email" formControlName="email"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of errors.validation_messages.email">
            <ion-item class="help-block" no-lines color="danger" *ngIf="registrationForm.get('email').hasError(validation.type) && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
              <ion-label>{{ validation.message }}</ion-label>
            </ion-item>
          </ng-container>
          <ion-item>
            <ion-input type="password" placeholder="Password" class="form-control input-text-custom" id="password" formControlName="password"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of errors.validation_messages.password">
            <ion-item class="help-block" no-lines color="danger" *ngIf="registrationForm.get('password').hasError(validation.type) && (registrationForm.get('password').dirty || registrationForm.get('password').touched)">
              <ion-label>{{ validation.message }}</ion-label>
            </ion-item>
          </ng-container>
          <ion-item>
            <ion-input type="password" placeholder="Confirm Password" class="form-control input-text-custom" id="confirmPassword" formControlName="confirmPassword"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of errors.validation_messages.confirmPassword">
            <ion-item class="help-block" no-lines color="danger" *ngIf="registrationForm.get('confirmPassword').hasError(validation.type) && (registrationForm.get('confirmPassword').dirty || registrationForm.get('confirmPassword').touched)">
              <ion-label>{{ validation.message }}</ion-label>
            </ion-item>
          </ng-container>
          <ion-item class="help-block" no-lines color="danger" *ngIf="!registrationForm.get('confirmPassword')?.errors && registrationForm.hasError('passwordNotMatch') && (registrationForm.get('confirmPassword').dirty || registrationForm.get('confirmPassword').touched)">
            <ion-label>Password and Confirm Password fields should match</ion-label>
          </ion-item>
        </div>

        <div padding>
          <ion-button size="large" type="submit" expand="block">Create New Account</ion-button>
        </div>
      </form>
      <div padding>
        <ion-button fill="clear" expand="block" color="primary" [routerLink]="['/login']">I have Account!</ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
