<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing/tabs/herps"></ion-back-button>
    </ion-buttons>
    <ion-title>Herp Detail</ion-title>
    <ion-buttons slot="primary">
          <ion-button (click)="onDelete(loadedHerp)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        <ion-buttons *ngIf="isReadOnly" (click)="onEdit()">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col>
            <h1 class="ion-text-center" >{{loadedHerp.herp.species}}</h1>
        </ion-col>
    </ion-row>

    <ion-card class="info-card">
        <ion-card-header class="ion-text-center">
            <ion-card-subtitle><h2>General Information</h2></ion-card-subtitle>
            <ion-card-title><h3>This is your general herp stats snapshot.</h3></ion-card-title>
        </ion-card-header>
        <form [formGroup]="herpForm" (ngSubmit)="submitForm()" novalidate>
        <ion-item>
            <ion-icon name="transgender-outline" slot="start"></ion-icon>
            <ion-label class="my-label">Sex:</ion-label>
            <ion-input *ngIf="isReadOnly" [readonly]="isReadOnly" [color]="isReadOnly ? 'secondary' : 'warning'" [value]="loadedHerp.sex ? loadedHerp.sex : 'N/A'"></ion-input>
            <ion-select formControlName="sex" color="warning" id="sex-field" [value]="loadedHerp.sex ? loadedHerp.sex : 'N/A'" *ngIf="!isReadOnly">
                <ion-select-option value="female">female</ion-select-option>
                <ion-select-option value="male">male</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label class="my-label">Breeder:</ion-label>
            <ion-input [readonly]="isReadOnly" [color]="isReadOnly ? 'secondary' : 'warning'" [value]="loadedHerp.breeder ? loadedHerp.breeder : 'N/A'"></ion-input>
            <ion-select formControlName="breeder" *ngIf="!isReadOnly" color="warning" id="breeder-field" [value]="loadedHerp.breeder ? loadedHerp.breeder : 'N/A'">
                <ion-select-option value="true">true</ion-select-option>
                <ion-select-option value="false">false</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item class="ion-activated">
            <ion-icon name="today-outline" slot="start"></ion-icon>
            <ion-label class="my-label">Date Acq:</ion-label>
            <ion-input *ngIf="isReadOnly" [readonly]="isReadOnly" [color]="isReadOnly ? 'secondary' : 'warning'" [value]="loadedHerp.dateAcquired ? (loadedHerp.dateAcquired | date: 'MM/dd/yyyy') : 'N/A'"></ion-input>
            <ion-datetime formControlName="dateAcquired" *ngIf="!isReadOnly" min="1989-06-04" max="2004-08-23" [value]="loadedHerp.dateAcquired ? (loadedHerp.dateAcquired) : ''" displayFormat="MM/DD/YYYY"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-icon name="today-outline" slot="start"></ion-icon>
            <ion-label class="my-label">DOB:</ion-label>
            <ion-input *ngIf="isReadOnly" [readonly]="isReadOnly" [color]="isReadOnly ? 'secondary' : 'warning'" [value]="loadedHerp.dob ? (loadedHerp.dob | date: 'MM/dd/yyyy') :  'N/A'"></ion-input>
            <ion-datetime formControlName="dob" id="dob-field" *ngIf="!isReadOnly" min="1989-06-04" max="2004-08-23" [value]="loadedHerp.dob ? (loadedHerp.dob | date: 'MM/dd/yyyy') :  'N/A'" displayFormat="MM/DD/YYYY"></ion-datetime>
        </ion-item>

        <section>
            <ion-button *ngIf="!isReadOnly" slot="start" color="danger" expand="full" (click)="cancel()">Cancel</ion-button>
            <ion-button *ngIf="!isReadOnly" type="submit" slot="end" color="success" expand="full">Save</ion-button>
        </section>
    </form>


    </ion-card>


  <ion-grid>
    <ion-row>
<!--      <ion-col><ion-img [src]="loadedHerp.avatar"></ion-img></ion-col>-->
    </ion-row>
<!--    <ion-row>-->
<!--        <ion-col>-->
<!--            <ion-card>-->
<!--                <ion-card-header>-->
<!--                    Bar Chart-->
<!--                </ion-card-header>-->
<!--                <ion-card-content>-->
<!--                    <canvas #barCanvas></canvas>-->
<!--                </ion-card-content>-->
<!--            </ion-card>-->
<!--        </ion-col>-->
<!--    </ion-row>-->
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-header class="ion-text-center">
                    Diet(%)
                </ion-card-header>

                <ion-card-content>
                    <canvas #feederDoughnutCanvas></canvas>
                </ion-card-content>
                <div class="ion-text-center">
                    <div class="ion-margin-top ion-margin-bottom">
                        <ion-button (click)="viewAllFeeders()">View All Feeders</ion-button>
                    </div>
                </div>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    Herp Lengths Over time
                </ion-card-header>
                <ion-card-content>
                    <canvas *ngIf="!isEditLengths" #lengthLineCanvas></canvas>
                    <div *ngIf="isEditLengths">
                        <div class="root-container">
                            <ion-virtual-scroll [items]="herpLengths" approxItemHeight="10px">
                                <ion-item-sliding *virtualItem="let length" #item class="list-item">
                                    <ion-item >
                                        <div>
                                            <ion-label>{{length.length}}</ion-label>
                                            <ion-label><strong>Date:</strong> {{length.date | date}}</ion-label>
                                        </div>
                                    </ion-item>

                                    <ion-item-options side="end">
                                        <ion-item-option color="danger">
                                            <ion-icon slot="icon-only" name="trash" (click)="deleteHerpFeeders(length.id)"></ion-icon>
                                        </ion-item-option>
                                        <ion-item-option>
                                            <ion-icon slot="icon-only" name="document-text-outline" (click)="presentLengthDetailsModal(length)"></ion-icon>
                                        </ion-item-option>
                                    </ion-item-options>
                                </ion-item-sliding>
                            </ion-virtual-scroll>
                        </div>
                        <section>
                            <ion-button (click)="presentAddLengthModal()" color="success" expand="full">Add Length</ion-button>
                        </section>
                    </div>
                </ion-card-content>
                <div class="ion-text-center">
                    <div class="ion-margin-top">
                        <ion-label>Toggle List and Chart</ion-label>
                    </div>
                    <div>
                        <ion-toggle (ionChange)="viewAllLengths()"></ion-toggle>
                    </div>
                </div>
            </ion-card>
        </ion-col>
    </ion-row>
      <ion-row>
          <ion-col>
              <ion-card>
                  <ion-card-header>
                      Herp Weight Over time
                  </ion-card-header>
                  <ion-card-content>
                      <canvas *ngIf="!isEditWeights" #weightLineCanvas></canvas>
                      <div *ngIf="isEditWeights">
                          <div class="root-container">
                              <ion-virtual-scroll [items]="herpWeights" approxItemHeight="10px">
                                  <ion-item-sliding *virtualItem="let weight" #item class="list-item">
                                      <ion-item >
                                          <div>
                                              <ion-label>{{weight.weight}}</ion-label>
                                              <ion-label><strong>Date Fed:</strong> {{weight.date | date}}</ion-label>
                                          </div>
                                      </ion-item>

                                      <ion-item-options side="end">
                                          <ion-item-option color="danger">
                                              <ion-icon slot="icon-only" name="trash" (click)="deleteHerpFeeders(weight.id)"></ion-icon>
                                          </ion-item-option>
                                          <ion-item-option>
                                              <ion-icon slot="icon-only" name="document-text-outline" (click)="presentWeightDetailsModal(weight)"></ion-icon>
                                          </ion-item-option>
                                      </ion-item-options>
                                  </ion-item-sliding>
                              </ion-virtual-scroll>
                          </div>
                          <section>
                              <ion-button (click)="presentAddWeightModal()" color="success" expand="full">Add Food Item</ion-button>
                          </section>
                      </div>
                  </ion-card-content>
                  <div class="ion-text-center">
                      <div class="ion-margin-top">
                          <ion-label>Toggle List and Chart</ion-label>
                      </div>
                      <div>
                          <ion-toggle (ionChange)="viewAllWeights()"></ion-toggle>
                      </div>
                  </div>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
