<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing/tabs/herps"></ion-back-button>
    </ion-buttons>
    <ion-title>Herp Detail</ion-title>
    <ion-buttons slot="primary">
          <ion-button (click)="onDelete(loadedHerp)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        <ion-buttons *ngIf="isReadOnly" (click)="onEdit()">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col>
            <h1 class="ion-text-center" >{{loadedHerp.herp.species}}</h1>
        </ion-col>
    </ion-row>

    <ion-card class="info-card">
        <ion-card-header class="ion-text-center">
            <ion-card-subtitle><h2>General Information</h2></ion-card-subtitle>
            <ion-card-title><h3>This is your general herp stats snapshot.</h3></ion-card-title>
        </ion-card-header>
        <form [formGroup]="herpForm" (ngSubmit)="submitForm()" novalidate>
        <ion-item>
            <ion-icon name="transgender-outline" slot="start"></ion-icon>
            <ion-label class="my-label">Sex:</ion-label>
            <ion-input *ngIf="isReadOnly" [readonly]="isReadOnly" [color]="isReadOnly ? 'secondary' : 'warning'" [value]="loadedHerp.sex ? loadedHerp.sex : 'N/A'"></ion-input>
            <ion-select formControlName="sex" color="warning" id="sex-field" [value]="loadedHerp.sex ? loadedHerp.sex : 'N/A'" *ngIf="!isReadOnly">
                <ion-select-option value="female">female</ion-select-option>
                <ion-select-option value="male">male</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label class="my-label">Breeder:</ion-label>
            <ion-input [readonly]="isReadOnly" [color]="isReadOnly ? 'secondary' : 'warning'" [value]="loadedHerp.breeder ? loadedHerp.breeder : 'N/A'"></ion-input>
            <ion-select formControlName="breeder" *ngIf="!isReadOnly" color="warning" id="breeder-field" [value]="loadedHerp.breeder ? loadedHerp.breeder : 'N/A'">
                <ion-select-option value="true">true</ion-select-option>
                <ion-select-option value="false">false</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item class="ion-activated">
            <ion-icon name="today-outline" slot="start"></ion-icon>
            <ion-label class="my-label">Date Acq:</ion-label>
            <ion-input *ngIf="isReadOnly" [readonly]="isReadOnly" [color]="isReadOnly ? 'secondary' : 'warning'" [value]="loadedHerp.dateAcquired ? (loadedHerp.dateAcquired | date: 'MM/dd/yyyy') : 'N/A'"></ion-input>
            <ion-datetime formControlName="dateAcquired" *ngIf="!isReadOnly" min="1989-06-04" max="2004-08-23" [value]="loadedHerp.dateAcquired ? (loadedHerp.dateAcquired) : ''" displayFormat="MM/DD/YYYY"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-icon name="today-outline" slot="start"></ion-icon>
            <ion-label class="my-label">DOB:</ion-label>
            <ion-input *ngIf="isReadOnly" [readonly]="isReadOnly" [color]="isReadOnly ? 'secondary' : 'warning'" [value]="loadedHerp.dob ? (loadedHerp.dob | date: 'MM/dd/yyyy') :  'N/A'"></ion-input>
            <ion-datetime formControlName="dob" id="dob-field" *ngIf="!isReadOnly" min="1989-06-04" max="2004-08-23" [value]="loadedHerp.dob ? (loadedHerp.dob | date: 'MM/dd/yyyy') :  'N/A'" displayFormat="MM/DD/YYYY"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-icon name="resize-outline" slot="start"></ion-icon>
            <ion-label class="my-label">Latest Length:</ion-label>
            <ion-input formControlName="length" id="length-field" [readonly]="isReadOnly" [color]="isReadOnly ? 'secondary' : 'warning'" [value]="loadedHerp.length ? loadedHerp.length : 'N/A'"></ion-input>
        </ion-item>

        <ion-item>
            <ion-icon name="barbell-outline" slot=start></ion-icon>
            <ion-label class="my-label">Latest Weight:</ion-label>
            <ion-input formControlName="weight" id="weight-field" [readonly]="isReadOnly" [color]="isReadOnly ? 'secondary' : 'warning'" [value]="loadedHerp.weight ? loadedHerp.weight : 'N/A'"></ion-input>
        </ion-item>

        <ion-item>
            <ion-icon name="restaurant-outline" slot="start"></ion-icon>
            <ion-label class="my-label">Last Meal:</ion-label>
            <ion-input formControlName="feeder" id="feeders-field" [readonly]="isReadOnly" [color]="isReadOnly ? 'secondary' : 'warning'" [value]="loadedHerp.feeders ? loadedHerp.feeders : 'N/A'"></ion-input>
        </ion-item>
        <section>
            <ion-button *ngIf="!isReadOnly" slot="start" color="danger" expand="full" (click)="cancel()">Cancel</ion-button>
            <ion-button *ngIf="!isReadOnly" type="submit" slot="end" color="success" expand="full">Save</ion-button>
        </section>
    </form>


    </ion-card>


  <ion-grid>
    <ion-row>
<!--      <ion-col><ion-img [src]="loadedHerp.avatar"></ion-img></ion-col>-->
    </ion-row>
<!--    <ion-row>-->
<!--        <ion-col>-->
<!--            <ion-card>-->
<!--                <ion-card-header>-->
<!--                    Bar Chart-->
<!--                </ion-card-header>-->
<!--                <ion-card-content>-->
<!--                    <canvas #barCanvas></canvas>-->
<!--                </ion-card-content>-->
<!--            </ion-card>-->
<!--        </ion-col>-->
<!--    </ion-row>-->
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    Doughnut Chart
                </ion-card-header>
                <ion-card-content>
                    <canvas #doughnutCanvas></canvas>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    Line Chart
                </ion-card-header>
                <ion-card-content>
                    <canvas #lineCanvas></canvas>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
    <!--   Feeders Section   -->
<!--      <ion-item-options>-->
<!--        <ion-item-option color="secondary" (click)="onEdit(herp.id, slidingItem)">-->
<!--          <ion-icon name="create" slot="icon-only"></ion-icon>-->
<!--        </ion-item-option>-->
<!--        <ion-item-option color="danger" (click)="onEdit(herp.id, slidingItem)">-->
<!--          <ion-icon name="trash" slot="icon-only"></ion-icon>-->
<!--        </ion-item-option>-->
<!--      </ion-item-options>-->
    </ion-row>
  </ion-grid>
</ion-content>
