page-chart {
  .ios, .md {

    page-home {

      ion-card-header {
        font-weight: bold;
      }

    }

  }

}

.my-label {
  font-size: 1.2em;
}

.info-card {
  border-color: yellow;
  border-width: thick;
}

.ionic-card {
  background-color: white; // black
}
