#search-results {
  margin-left:auto;
  margin-right:auto;
  max-height:300px;   //your max size here
}

#search-item  {
  :hover {
    color: cornflowerblue;
  }
}

.error-message {
  color: #fee;
  background-color: #c33;
}

.error-message-highlighted {
  background-color: #c33;
  color: #fff;
}

.error-message:first-child,
input:invalid + .error-message,
input:invalid + label + .error-message {
  display: block;
}

.flag-optional {
  color: #999;
}

input:invalid,
input[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}
