<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col align-self-center>
      <div text-center>
        <h4>Login Form</h4>
      </div>
      <form name="form-signin" (ngSubmit)="f.form.valid && this.login()" #f="ngForm" novalidate>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Username" class="form-control input-text-custom" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required></ion-input>
          </ion-item>
          <div class="error-message ion-padding" *ngIf="f.submitted && !username.valid">
            <ion-icon class="ion-padding-horizontal" name="warning-outline"></ion-icon>
            <span class="icon-label">An valid username is required.</span>
          </div>

          <ion-item>
            <ion-input type="password" placeholder="Password" class="form-control input-text-custom" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
          </ion-item>
          <div class="error-message ion-padding" *ngIf="f.submitted && !password.valid">
            <ion-icon class="ion-padding-horizontal" name="warning-outline"></ion-icon>
            <span class="icon-label">Password is required.</span>
          </div>

        </div>

        <div padding>
          <ion-button size="large" type="submit" expand="block">Sign In</ion-button>
        </div>
      </form>
      <div padding>
        <ion-button fill="clear" expand="block" color="primary" [routerLink]="['/register']">Create New Account!</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
